@model IEnumerable<MusicCatalog.Dtos.Review.GetReviewDto>


<table class="table">
    <thead>
        <tr>
            <th>
                UserId
            </th>
            <th>
               SongId
            </th>
            <th>
                Content
            </th>
            <th>
                CreatedAt
            </th>
            <th>
                UpdatedAt
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
        </tr>
}
    </tbody>
</table>
