@model IEnumerable<MusicCatalog.Models.Song>

@{
    ViewData["Title"] = "Home Page";
}

@Html.Raw(ViewBag.Alert)

<form asp-action="Index" asp-controller="Home" method="get">
    <div class="input-group mb-3 d-flex gap-2">
        <input type="text" name="searchQuery" class="form-control" placeholder="Sök efter låtsläpp">
        <button type="submit" class="btn btn-primary">Sök</button>
    </div>
</form>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card m-1" style="width:350px;">
            <div class="card-body">
                <a asp-controller="Home" asp-action="Artist" asp-route-artistId="@item.ArtistId">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Artists)</h5>
                </a>
                <h6 class="card-subtitle mb-2 text-muted">
                    <a asp-controller="Home" asp-action="Release" asp-route-songId="@item.Id">@Html.DisplayFor(modelItem => item.TrackName)</a>
                </h6>
                <a asp-controller="Home" asp-action="Album" asp-route-albumId="@item.AlbumId" class="card-text">@Html.DisplayFor(modelItem => item.AlbumName)</a>
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="300" height="300" alt="Release picture"/>
                <p>Popularitet:</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: @item.Popularity%" aria-valuenow="@item.Popularity" aria-valuemin="0" aria-valuemax="100">@item.Popularity</div>
                </div>
                <p class="card-text">Id: @Html.DisplayFor(modelItem => item.Id)</p>
            </div>
        </div>
    }
</div>