@model IEnumerable<MusicCatalog.Dtos.Post.GetPostDto>

@{
    ViewData["Title"] = "AllPosts";
}
@Html.Raw(ViewBag.Alert)

<h1>Posts</h1>

<p>
    <a asp-controller="Post" asp-action="CreatePost" asp-route-communityId="@Model.FirstOrDefault()?.CommunityId" class="btn btn-success">Create New Post</a>
</p>

<form asp-action="AllPosts" asp-controller="Post" method="get">
    <div class="input-group mb-3">
        <input type="text" name="searchQuery" class="form-control" placeholder="Search Posts">
        <input type="hidden" name="communityId" value=@Model.FirstOrDefault()?.CommunityId>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <a asp-controller="Post" asp-action="ViewPost" asp-route-postId="@item.Id" asp-route-communityId="@item.CommunityId">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Content)</p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Post" asp-action="UpdatePost" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <form asp-action="DeletePost" method="post" class="d-inline">
                        <input type="hidden" name="communityId" value="@item.CommunityId">
                        <input type="hidden" name="postId" value="@item.Id"/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <form asp-action="LikePost" method="post">
                        <input type="hidden" name="communityId" value="@item.CommunityId">
                        <input type="hidden" name="postId" value="@item.Id">
                        <button type="submit" class="btn btn-success like-button" data-post-id="@item.Id">Like @item.VoteCount</button>
                    </form>
                    
                </div>
            </div>
        </div>
    }
</div>

@*<script>
    $(document).ready(function () {
        $('.like-button').click(function () {
            var postId = $(this).data('post-id');
            var likeButton = $(this);

            $.ajax({
                type: 'POST',
                url: '/Post/LikePost',
                data: { postId: postId },
                success: function (response) {
                    if (response.success) {
                        // Update the vote count on the current view
                        var voteCount = parseInt(likeButton.text().replace('Like ', '')) + 1;
                        likeButton.text('Like ' + voteCount);
                    } else {
                        console.error('User has already voted on this post.');
                    }
                },
                error: function () {
                    console.error('Failed to like the post.');
                }
            });
        });
    });
</script>*@
