@model IEnumerable<MusicCatalog.Dtos.Post.GetPostDto>

@{
    ViewData["Title"] = "AllPosts";
}

<h1>AllPosts</h1>

<p>
    <a asp-action="CreatePost">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vote_count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vote_count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.ActionLink("UpdatePost", "UpdatePost", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("ViewPost", "ViewPost", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("DeletePost", "DeletePost", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
