@model MusicCatalog.Dtos.Post.GetPostDto

@{
    ViewData["Title"] = "Visa Inlägg";
}

@Html.Raw(ViewBag.Alert)

<h1>@Html.DisplayFor(model => model.Title)</h1>

<hr/>

<div class="d-flex flex-column card mb-1">
    <div class="d-flex  card-header">
        <div class="d-flex gap-2 justify-content-between">
            <p class="card-title mb-2">@Model.User.UserName</p>
            <p class="text-muted mb-2">@Model.UpdatedAt.ToString("yyyy-MM-dd")</p>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Content</p>
    </div>
    <div class="card-footer">
        <form asp-action="LikePost" method="post">
                <input type="hidden" name="communityId" value="@Model.CommunityId">
                <input type="hidden" name="postId" value="@Model.Id">
                <button type="submit" class="btn btn-success like-button" data-post-id="@Model.Id"><i class="bi bi-hand-thumbs-up-fill"></i>    @Model.VoteCount</button>
            </form>
    </div>
</div>

<div>
    @if (User.Identity?.Name == Model.User.UserName)
    {
        <a asp-action="UpdatePost" asp-route-id="@Model.Id" class="btn btn-primary">Redigera</a>
    }
    <a asp-action="AllPosts" asp-route-communityId="@Model.CommunityId" class="btn btn-secondary">Tillbaka</a>
</div>