@model MusicCatalog.Dtos.Post.GetPostDto

@{
    ViewData["Title"] = "Visa Inlägg";
}

@Html.Raw(ViewBag.Alert)

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Innehåll:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            Röster
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteCount)
        </dd>
        <dt class="col-sm-2">
            Skapad
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")
        </dd>
        <dt class="col-sm-2">
            Uppdaterad
        </dt>
        <dd class="col-sm-10">
            @Model.UpdatedAt.ToString("yyyy-MM-dd HH:mm:ss")
        </dd>
    </dl>
</div>

<div>
    @if (User.Identity?.Name == Model.User.UserName)
    {
        <a asp-action="UpdatePost" asp-route-id="@Model.Id" class="btn btn-primary">Redigera</a>
    }
    <a asp-action="AllPosts" asp-route-communityId="@Model.CommunityId" class="btn btn-secondary">Tillbaka</a>
</div>